<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>krt-c717f2327c04bad44e5ed7b771efdd87</string>
			</array>
		</dict>
	</array>
	<key>karte_app_key</key>
	<string>Svm8gHwFofF09ErwpsOnS0D8Uo1udn86</string>
</dict>
</plist>
